.menu-lateral{
    width: 100%;
}

.menu-lateral ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-lateral li{
    padding: .5rem;
    border-bottom: 1px solid #292929;
    text-align: center;
}

.menu-lateral li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.menu-lateral li span{
    font-size: .75rem;
    text-align: center;
    padding-top: .25rem;
    padding-left: .25rem;
    padding-right: .25rem;
}



@media (min-width: 1024px) {
    .menu-lateral{
        width: 200px;
    }
    .menu-lateral ul{
        display: inline-block;
    }
    .menu-lateral li{
        padding: 1rem;
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
    }
    .menu-lateral li a{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .menu-lateral li span{
        position: relative;
        float: left;
        text-align: left;
        font-size: 1rem;
        padding-top: .25rem;
        padding-left: 1.25rem;
    }
    .menu-lateral li img{
        position: relative;
        float: left;
    }
    
}