<nav class="menu-lateral">
    <ul>
        <li>
            <a href="covid">
                <img src="https://cdn.pixabay.com/photo/2020/04/10/09/17/coronavirus-5024814_960_720.png" width="30" alt="" />
                <span>Covid-19</span>
            </a>
        </li>
        <li>   
            <a href="pandemias">
                <img src="https://image.flaticon.com/icons/svg/2713/2713313.svg" width="30" alt="" />
                <span>Pandemias</span>
            </a>
        </li>
        <li>
            <a href="comparativos">
                <img src="https://image.flaticon.com/icons/png/512/923/923051.png" width="30" alt="" />
                <span>Comparativos</span>
            </a>
        </li>
    </ul>
</nav>
